:root {
  font-size: 16px;
}

:root {
  --background-color: #5b6f78;
  --text-color: #E4E0D2;
  --highlight-color: #7b9dd4;
  --secondary-color: #F7BA40;
  --border-color: #53A4FA;
  --shadow-color: #302e2e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

.highlight {
  color: var(--highlight-color);
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 1680px;
  margin-top: 10vh;
  padding: 2rem;
  gap: 2rem;
}

hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.mugshot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 30rem;
  width: 20rem;
}

.mugshot img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 15px var(--shadow-color);
  object-fit: cover;
  object-position: 50% 20%;
}

.greeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.greeting .contacts {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.paragraph {
  margin-bottom: 1rem;
}

ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

li {
  padding-left: 2em;
  text-indent: -1em;
}

li::before {
  content: "-";
  margin-right: 1em;
}

/* mobile */
@media (max-width: 768px) {
  hero {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mugshot {
    width: 15rem !important;
    height: 15rem !important;
  }

  .greeting .contacts {
    justify-content: center;
  }
}