:root {
  --foreground: #D9E4EC;
  --background: #385E72;
  --foreground-secondary: #B7CFDC;
  --background-secondary: #6AABD2;
  --white: #E8EEF1;
  --links: #82A4E3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}